  
  :root {
  interpolate-size: allow-keywords;
}
  #fixed_button_customise{
    position:fixed;
    top: 35vh;
    right:0;
    border:none;
    height: 3em;
    width:9em;
    background-color: white;
    box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.06), -1px 0px 3px rgba(0, 0, 0, 0.1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    color: black;
    cursor: pointer;
    font-weight: 500;
    padding-left: 0px;
    z-index: 100;
    
}
#fixed_button_customise:hover{
   color:royalblue
}
#fixed_button_cart{
    border:none;
    position:fixed;
    bottom:.5em;
    right:.5em;
    background-color: #658a42;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    box-shadow: none;
    color:white;
    font-size: 1.5em;
    padding:none;
    cursor: pointer;
    z-index: 101;
}
#fixed_div_cart_count{
    border-radius: 50%;
    border:none;
    background-color: rgb(24, 168, 161);
    color: white;
    position:fixed;
    right:4em;
    bottom:4.5em;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    z-index: 102;
    font-size: small;
}
   
   
   .cart_logo{
            height: 20px;
        }
        .links{
            justify-content: center;
            display:flex;
            gap:10px;
        }
        .logos{
            display:flex;
            gap:5px;
        }
       
        header{
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            background-color:#F8F6F3;
            
        }
        body{
            font-family: 'Open Sans', sans-serif;
              background-color: #ffffff;
              margin-left: 0;
              margin-right: 0;
              
        }
            ul{
    display: flex;
    list-style-type: none;
    gap: 2.5em;
       }

       a{
    text-decoration: none;           /* links in header */
    color: #4c4848;
       }

   
.headingcontainer{
   background-color:#F8F6F3;
  
   justify-content: center;

}

.headingcontainer h1{
    margin:0;
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: 3.5em;
    font-family:  'Merriweather', serif;
    text-align: center;
   
}

h1{
        text-align: center;
    position: relative;
    font-size: 2.5em;
    font-family: serif;
    margin-block-start: 0;

}
legend{
    
    margin-left: auto;
    margin-right: auto;
    
}
fieldset{
    border:none;
    margin-left: 0;
    margin-right: 0;
    padding:0;
    
}


#basil_leaf{
    position:relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    height: 4em;
    top:-5em
}
.c1{
    display: flex;
    justify-content: center;
    position:relative;
    top:-7em;
    
}
.c1-1{
    display:flex;
    justify-content: space-evenly;
    gap:2em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-inline-start: 2em;
    padding-inline-end: 2em;
    padding-block-start: 5em;
    padding-block-end: 4em;
    border-radius: 10px;
    background-color: white;
}
.c1-1-details{
border-style: solid;
border-color: #4c484841;
border-width: 1px;
 text-align: center;
    justify-content: center;
    padding-block-start: 1.3em;
    padding-block-end: 2em;
    padding-inline-start: 5em;
    padding-inline-end: 5em;

}
.c1-1-details p{
    text-align: center;
}
.c1-1-details ul {
    display: block;
    position: relative;
    /* line-height: 1em; */
    font-size: 1.1em;
    padding-inline-start: 0;
    li{
    display: block;
    margin-bottom: .5em;
    }
  
}

  

.c2{
    display: flex;
    position:relative;
    justify-content: center
    

}

.c2-list{
    display:flex;
}
.c2-list-1, .c2-list-2{
    width:30em;
    padding:3em;
}

.c2-list-1 summary,.c2-list-2 summary 
{
   
    &::marker {
        content: "";
    }
    &::before{
    content: ">";
   
    inset-inline-end: 0;
    position:relative;
    float: right;
   
    }
    padding-bottom: 1em;
    font-weight: 600;
}



.c2-list-1 details, .c2-list-2 details {
  border-block-end: 1.5px solid #5a585834;
  overflow: hidden;
  color:#383737;
  padding-left: 2em;
  padding-right: 2em;
  
}

details::details-content {
  height: 0;
  transition: height 1s, content-visibility 1s;
  transition-behavior: allow-discrete;
  
}

details[open]::details-content {
  height: auto;
  padding-bottom: 2em;
}

.c2-list ul{
display: block;
li
{
    padding-bottom: 3em;
}

}



footer{                                                        /*footer*/
    background-color: black;
    color:white;
    padding-bottom: 2em;
    
}
.bfooter{
     background-color: black;
    color:white;
    display: flex;
}
.footerdiv1{
    display:block;
    width:12%;
    margin-inline-start: 15%;

}
.footerdiv1 p{
font-family:' Sans', 'sans-serif';
font-style: italic;
font-size: 1.2em;
font-weight: bold;
margin-inline-start: 1em;
}
.footerdivlist{
 
    display: flex;
    justify-content: center;
    gap:2em;
}
footer hr{
    height: 1px ;
    border:none;
    background-color: rgba(49, 48, 48, 0.719);
}
.footerdivlist dt{
    font-size: x-large;
    font-weight: 700;
    font-family: 'arial';
    text-align: left;
    margin-block-start: 1.5em;
    margin-block-end: 1em;
    margin-inline-start: 6em;
}
.footerdivlist dd{
    color: #939793;
    text-align: left;
    margin-inline-start: 9em;
    margin-block-start: .5em;
}
.footerend{
    display:flex;
    margin-block-start: 2em;
}
    
.footerend span{
    margin-inline-start: 16%;
    font-size: 1em;
}
.fooetrendicons{
    display:flex;
    justify-content: center;
    gap:1em;
    margin-inline-start: 40%;
}

