  #fixed_button_customise{
    position:fixed;
    top: 35vh;
    right:0;
    border:none;
    height: 3em;
    width:9em;
    background-color: white;
    box-shadow: -1px 0px 2px rgba(0, 0, 0, 0.06), -1px 0px 3px rgba(0, 0, 0, 0.1);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    color: black;
    cursor: pointer;
    font-weight: 500;
    padding-left: 0px;
    z-index: 100;
    
}
#fixed_button_customise:hover{
   color:royalblue
}
#fixed_button_cart{
    border:none;
    position:fixed;
    bottom:.5em;
    right:.5em;
    background-color: #658a42;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    box-shadow: none;
    color:white;
    font-size: 1.5em;
    padding:none;
    cursor: pointer;
    z-index: 101;
}
#fixed_div_cart_count{
    border-radius: 50%;
    border:none;
    background-color: rgb(24, 168, 161);
    color: white;
    position:fixed;
    right:4em;
    bottom:4.5em;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    z-index: 102;
    font-size: small;
}
   
   
   .cart_logo{
            height: 20px;
        }
        .links{
            justify-content: center;
            display:flex;
            gap:10px;
        }
        .logos{
            display:flex;
            gap:5px;
        }
       
        header{
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            background-color:white;
            
        }
        body{
            font-family: 'Open Sans', sans-serif;
              background-color: #F8F6F3;
              margin-left: 0;
              margin-right: 0;
              
        }
        
    ul{
    display: flex;
    list-style-type: none;
    gap: 2.5em;
       }

       a{
    text-decoration: none;           /* links in header */
    color: #4c4848;
       }

.main-container{
    display:flex;
    margin-block-start: 3em;
   
}
.left-container{
    position:relative;
    display:block;
    border-right: solid 1px #18171731;
    margin-inline-start: 20em;
    width:25em;
    .left-container-child{
        width:17em;
        position:relative;

        margin-block-start: 3em;
        border-right:solid 2px black;
    }

    button{
        color:white;
        background-color:  #658a42;
        border:none;
        border-radius: 5px;
    }
    input[type=text]{
        border:solid 1px rgba(37, 37, 37, 0.199);
        height: 3em;
        width:80%;
        padding-right: 1em;
        
    }
    button[name=search]{
        width: 12%;
        height: 3em;
        float:right;
        
    }
    h3{
        
        margin-block-start: 1.5em;
        font-size: 1.5em;
        margin-block-end: 0;
    }
    p[name=price]
    {
       margin-block-start: 1em;
        font-size: .8rem;

    }
  
}

.right-container{
    display:block;

}














footer{                                                        /*footer*/
    background-color: black;
    color:white;
    padding-bottom: 2em;
    
}
.bfooter{
     background-color: black;
    color:white;
    display: flex;
}
.footerdiv1{
    display:block;
    width:12%;
    margin-inline-start: 15%;

}
.footerdiv1 p{
font-family:' Sans', 'sans-serif';
font-style: italic;
font-size: 1.2em;
font-weight: bold;
margin-inline-start: 1em;
}
.footerdivlist{
 
    display: flex;
    justify-content: center;
    gap:2em;
}
footer hr{
    height: 1px ;
    border:none;
    background-color: rgba(49, 48, 48, 0.719);
}
.footerdivlist dt{
    font-size: x-large;
    font-weight: 700;
    font-family: 'arial';
    text-align: left;
    margin-block-start: 1.5em;
    margin-block-end: 1em;
    margin-inline-start: 6em;
}
.footerdivlist dd{
    color: #939793;
    text-align: left;
    margin-inline-start: 9em;
    margin-block-start: .5em;
}
.footerend{
    display:flex;
    margin-block-start: 2em;
}
    
.footerend span{
    margin-inline-start: 16%;
    font-size: 1em;
}
.fooetrendicons{
    display:flex;
    justify-content: center;
    gap:1em;
    margin-inline-start: 40%;
}
